.vscode/
.idea/
/lefthook
/lefthook-local.yml
/gen_schema

tmp/
dist/
book/

# Packages
packaging/pypi/lefthook/__pycache__/
packaging/pypi/lefthook/bin/
packaging/pypi/lefthook.egg-info/
packaging/pypi/build/
packaging/rubygems/pkg/
packaging/rubygems/libexec/
packaging/npm-bundled/bin/
packaging/npm-*/README.md
packaging/npm/*/bin/
packaging/npm/*/README.md
!packaging/npm/*/package.json
!packaging/npm/lefthook/bin/index.js
