.vscode/
.idea/
.lefthook-local/
.lefthook/
/lefthook-local.yml
/lefthook.yml
/lefthook
cplefthook

tmp/
dist/
packaging/rubygems/pkg/
packaging/rubygems/libexec/
packaging/npm-bundled/bin/
packaging/npm-*/README.md
package.json
!packaging/npm-*/package.json
node_modules/
yarn.lock
package-lock.json
