#!/bin/sh

if [ "$LEFTHOOK" = "0" ]; then
  exit 0
fi

if [ -t 1 ] ; then
  exec < /dev/tty ; # <- enables interactive shell
fi

call_lefthook()
{
  if lefthook{{.Extension}} -h >/dev/null 2>&1
  then
    eval lefthook{{.Extension}} $@

  # Node modules bin
  elif test -f "$(git rev-parse --show-toplevel)/node_modules/.bin/lefthook"
  then
    eval "$(git rev-parse --show-toplevel)/node_modules/.bin/lefthook $@"

  # Ruby Bundler
  elif bundle exec lefthook -h >/dev/null 2>&1
  then
    bundle exec lefthook $@

  # Yarn
  elif yarn lefthook -h >/dev/null 2>&1
  then
    yarn lefthook $@

  # pnpm
  elif pnpm lefthook -h >/dev/null 2>&1
  then
    pnpm lefthook $@

  # npm
  elif npx @arkweid/lefthook -h >/dev/null 2>&1
  then
    npx @arkweid/lefthook $@

  else
    echo "Cannot find lefthook binary"
  fi
}

{{.AutoInstall}}

call_lefthook "run {{.HookName}} $@"
