#!/bin/sh

if [ "$LEFTHOOK" = "0" ]; then
  exit 0
fi

if [ -t 1 ] ; then
  exec < /dev/tty ; # <- enables interactive shell
fi

dir="$(git rev-parse --show-toplevel)"

call_lefthook()
{
  if lefthook{{.Extension}} -h >/dev/null 2>&1
  then
    eval lefthook{{.Extension}} $1
  elif test -f "$dir/node_modules/@arkweid/lefthook/bin/lefthook{{.Extension}}"
  then
    eval "$dir/node_modules/@arkweid/lefthook/bin/lefthook{{.Extension}} $1"
  elif bundle exec lefthook -h >/dev/null 2>&1
  then
    bundle exec lefthook $1
  elif npx lefthook -h >/dev/null 2>&1
  then
    npx lefthook $1
  elif yarn lefthook -h >/dev/null 2>&1
  then
    yarn lefthook $1
  else
    echo "ERROR Can't find lefthook in PATH. Operation aborted."
    echo "Make sure lefthook is available in your environment and re-try."
    echo "If you want to skip these checks instead you can either use --no-verify git argument"
    echo "or use LEFTHOOK=0 env variable"
    exit 1
  fi
}

{{.AutoInstall}}

call_lefthook "run {{.HookName}} $@"
